.header{
    margin: 40px 0;
    .header-main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        .header-text{
            max-width: 50%;
            color: #363738;
            h1{
                font-family: "Exo 2", sans-serif;
                font-size: 52px;
                font-weight: 600;
                margin: 0 0 20px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 1.5;
                margin: 0 0 20px;
            }
        }

        .header-img{
            max-width: 100%;
            border-radius: 10px;
        }
    }
}
span{
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    border-bottom: 5px solid #FFCE50;
    cursor: pointer;
    transition: all 0.4s ease;
    border-radius: 3px;
}
span:hover{
    border-bottom: 5px solid #363738;
}

@media (max-width: 1024px) {
    .header {
        flex-wrap: wrap;
        .header-main{
            flex-direction: column;
            text-align: center;
            .header-text{
                max-width: 100%;
            }
            .header-img{
                margin: 20px 0;
                width: 1000px;
            }
        }
    }
}

@media (max-width: 425px) {
    .header{
        flex-direction: column;
        .header-main{
            text-align: start;
        }
    }
}